@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* navigation */
.navbar {
	height: 56px;
	background-color: transparent;
}


/* main block */

.main__item {
	min-height: 100vh;
}

.main__item.main__item_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main__item.main__item_hero {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-image: url('../images/hero/hero_bg_2.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.hero-img {
	width: 110%;
	height: auto;
}

